header{
    background-color: #031a2b;
}
.white{
  color:ghostwhite;
  font-weight: boler;
}
.result{
  color:gold;
  font-size:xx-large;
  font-weight: bolder;
  font-style: oblique;
}
@media (min-width: 768px){
 header{
   background-image: url("/img/SoAF_Header_Image.png");  
   background-repeat: no-repeat;
   background-size: cover;
   background-position: fixed;

  }
.hero{
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}